server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/minie}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

web3j:
  rpc-url: ${WEB3J_RPC_URL:https://eth-mainnet.g.alchemy.com/v2/P3kk4qRHHVNlPt4AASNWd}

